[user]
	name = Tobias Becker
	email = nullpointeracception@gmail.com
[alias]
	st = status
	ci = commit
	co = checkout
	hist = log --all --abbrev-commit --graph --find-copies --color
	sp = stash pop
	k = !gitk --all --simplify-merges &
	ls = log --oneline
	caa = commit -a --amend -C HEAD
	unstage = reset
	last = log -1 --name-status
[credential]
	helper = cache
[core]
	longpaths = true
[push]
	default = simple
[fetch]
	prune = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
