[user]
	name = Tobias Becker
[alias]
	st = status
	ci = commit
	co = checkout
	sp = stash pop
	last = log -1 --name-status
	rw = review --yes
	which = log --oneline --no-merges
[credential]
	helper = cache
[core]
	longpaths = true
	excludesfile = ~/.gitignore
[push]
	default = simple
[fetch]
	prune = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f


# https://github.com/dandavison/delta#configuration
[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
[interactive]
    diffFilter = delta --color-only

[advice]
	detachedHead = false
[rerere]
	enabled = true
	autoupdate = true
[diff]
	algorithm = histogram
[cola]
	spellcheck = false
[diff "sopsdiffer"]
	textconv = sops -d
[rebase]
	autoSquash = true
[diff]
	tool = winmerge
	prompt = false
[mergetool]
	tool = winmerge
	prompt = false
	keepBackup = false
	keepTemporaries = false

[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver

[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"

[filter "nbstripout"]
	clean = python3 -m nbstripout
	smudge = cat
[diff "ipynb"]
	textconv = python3 -m nbstripout -t

[difftool "winmerge"]
	name = WinMerge
	cmd = WinMergeU.exe -u -e -xq -wl \"$(wslpath -aw \"$LOCAL\")\" \"$(wslpath -aw \"$REMOTE\")\"
	trustExitCode = true
[mergetool "winmerge"]
	name = WinMerge
	cmd = WinMergeU.exe -u -e -xq -wl \"$(wslpath -aw \"$LOCAL\")\" \"$(wslpath -aw \"$REMOTE\")\" \"$(wslpath -aw \"$LOCAL\")\"
	trustExitCode = true
