[user]
	name = Tobias Becker
[alias]
	st = status
	ci = commit
	co = checkout
	hist = log --all --abbrev-commit --graph --find-copies --color
	sp = stash pop
	k = !gitk --all --simplify-merges &
	ls = log --oneline
	caa = commit -a --amend --no-edit
	unstage = reset
	last = log -1 --name-status
	rw = review --yes
	which = log --oneline --no-merges
[credential]
	helper = cache
[core]
	longpaths = true
[push]
	default = simple
[fetch]
	prune = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f


# https://github.com/dandavison/delta#configuration
[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
[interactive]
    diffFilter = delta --color-only


[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"
[difftool]
	prompt = false
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	prompt = false
[filter "nbstripout"]
	clean = \"/opt/conda/bin/python3.7\" -m nbstripout
	smudge = cat
[diff "ipynb"]
	textconv = \"/opt/conda/bin/python3.7\" -m nbstripout -t
[advice]
	detachedHead = false
[rerere]
	enabled = true
	autoupdate = true
[diff]
	algorithm = histogram
